
.App {
    font-family: sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
  
  }
  .item{
    display: flex;
    flex-direction: row;
  }
  
  .card {
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  